@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  transition: all;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F4F6F6;
}


/* grid header css  */
.css-1iyq7zh-MuiDataGrid-columnHeaders{
  min-height: 30px !important;
  max-height: 30px !important;
  display: flex !important;
  justify-content: space-between !important;
}

.popup{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.custom-stop-row {
  background-color: yellow !important; /* Sarı arka plan rengi */
  color: black !important; /* Metin rengi */
}

.custom-active-row{
  background-color: #EDBB99 !important; 
}
.custom-cancel-row{
  background-color: #2980B9 !important; 
}
.custom-finish-row{
  background-color: #D1F2EB !important;
}

.custom-header {
  background-color: black !important; /* Sarı arka plan rengi */
  color: white !important; /* Metin rengi */
}